<ion-view>

	<ion-nav-bar class="bar-energized">
	    <ion-nav-buttons side="left">
	      <button class="button button-icon icon ion-navicon" ng-click="openSidebar()">
	      </button>
	    </ion-nav-buttons>
	    <ion-nav-title>
	      <h1 class="title textCapitalize">Ionic Blank</h1>
	    </ion-nav-title>
	    <ion-nav-buttons side="right">
	      <button class="button button-icon icon ion-ios-search">
	      </button>
	    </ion-nav-buttons>
  	</ion-nav-bar>

	<ion-content class="ion-content" align="center">
		
		IONIC BLANK PROJECT


	</ion-content>

</ion-view>